@font-face{
  src: url("/assets/quick.ttf");
  font-family: "Quicksand";
}
*{
  font-family: "Quicksand";
  user-select: none;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0s;
}
.player{
  height: 30px;
  width: 100px;
  padding: 10px;
  background: gold;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.player:nth-child(1){
  left: 10px;
}
.player:nth-child(2){
  right: 10px;
}
.scores0,.scores1{
  height: 20px;
  width: 100px;
  background: gold;
  position: absolute;
  padding: 10px;
  display: flex;
  top: 50px;
  right: 10px;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.scores1{
  left: 10px !important;
}
.game{
  height: 310px;
  width: 310px;
  background: grey;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.space{
  height: 100px;
  width: 100px;
  background: lightblue;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crossLine0{
  height: 310px;
  width: 5px;
  margin-top: 100px;
  background: gold;
  position: absolute;
  display: none;
  animation: anim1 .5s;
}
.crossLine1{
  height: 5px;
  width: 310px;
  background: gold;
  margin-top: 100px;
  position: absolute;
  display: none;
  animation: anim2 .5s;
}
.crossLine2{
  height: 440px;
  width: 5px;
  background: gold;
  transform: rotate(45deg);
  margin-top: 100px;
  position: absolute;
  display: none;
  animation: anim3 .5s;
}
.crossLine3{
  height: 440px;
  width: 5px;
  background: gold;
  transform: rotate(-45deg);
  margin-top: 100px;
  position: absolute;
  display: none;
  animation: anim3 .5s;
}
.crossLine4{
  height: 5px;
  width: 310px;
  background: gold;
  margin-top: -100px;
  position: absolute;
  display: none;
  animation: anim2 .5s;
}
.crossLine5{
  height: 5px;
  width: 310px;
  background: gold;
  margin-top: 310px;
  position: absolute;
  display: none;
  animation: anim2 .5s;
 }
.crossLine6{
  height: 310px;
  width: 5px;
  margin-top: 100px;
  margin-left: 210px;
  background: gold;
  position: absolute;
  display: none;
  animation: anim1 .5s;
}
.crossLine7{
  height: 310px;
  width: 5px;
  margin-top: 100px;
  margin-right: 210px;
  background: gold;
  position: absolute;
  display: none;
  animation: anim1 .5s;
}
.restarter{
  height: 310px;
  width: 310px;
  margin-top: 100px;
  font-size: 50px;
  position: absolute;
  background: rgba(0,0,0,0.2);
  color: white !important;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  display: none;
  animation: anim4 .5s;
}
@keyframes anim1{
  0%{
    height: 0px;
  }
  100%{
    height: 310px;
  }
}
@keyframes anim2 {
  0% {
    width: 0px;
  }

  100% {
    width: 310px;
  }
}
@keyframes anim3{
  0%{
    height: 0px;
  }
  100%{
    height: 440px;
  }
}
@keyframes anim4{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}